<div class="ui cards">
    <div class="card">
        <div class="content">
            <div class="description" id="card_comentario">

            </div>
            <div class="card-footer">
                <div class="header" id="card_name">

                </div>
                
                <div class="meta" id="card_hora">

                </div>
            </div>

        </div>

    </div>
</div>