<div class="ui cards">
    <div class="card">
        <div class="content">
            <div class="description" id="card_comentario">

            </div>
            <div class="header" id="card_name" style="font-size: small;">

            </div>
            <div class="meta" id="card_email" style="font-size: small;">

            </div>
            <div class="meta" id="card_hora" style="font-size: small;">

            </div>

        </div>

    </div>
</div>