<li
    class="mega-menu-item mega-menu-item-has-children mega-menu-megamenu mega-align-bottom-left">
    <a class="mega-menu-link" href="#" aria-haspopup="true" aria-expanded="false" tabindex="0"
        style="border: 1px; border-style: solid;">
        <%- nome %>
        
        <span class="mega-indicator"
            data-has-click-event="true"></span></a>
    <ul class="mega-menu meu-menu">
        
        <li class="meu-menu mega-menu-item">
            
           <p style="margin-left: 10px; margin-top: 20px;">
            <%- email %>
        </p>
        </li>

        <li class="mega-menu-item" style="margin-top: 10px;">
            
            <a  href="/logout">Sair</a>

        </li>

    </ul>
</li>