<div class="container mt-4">
<div class="principal">
<main>
        <form action="/login" method="post">
            <div>
                <H3>Bem vindo ao módulo de posts da Live University!</H3>
                <h4>Por favor se identifique:</h4>
                <br>
                
            </div>
            <div>
                <label>Nome:</label>
                <input class="input" type="text" name="nome" />
            </div>
            <div >
                <label>Email:</label>
                <input class="input" type="text" name="email" />
            </div>

            <div>
                <input class="btn btn-primary" type="submit" value="Cadastrar" />
            </div>
        </form>
</main>
</div>
</div>