@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700,300italic);
*, *:before, *:after { box-sizing: border-box; }

li.meu-menu {
    margin-left: 5px;
    margin-top: 20px;
}

ul.meu-menu {
    background-color: white;
    border-radius: 10px;
}

.principal {
    width: 700px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 10px;
}

.input {
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.conteudo {
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 0.5rem;
    color: #666;
    box-shadow: inset 0 0 0.25rem #ddd;
}

textarea {
    width: 100%;
    min-height: 100px;
    resize: none;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 0.5rem;
    color: #666;
    box-shadow: inset 0 0 0.25rem #ddd;
    font-size: medium;
  }

  #the-count {
    float: right;
    padding: 0.1rem 0 0 0;
    font-size: 0.875rem;
  }


.paginat {
  margin-left: 35%;
}

.paginat a, p, span {
    color: black;
    float:inline-start;
    font-size: medium;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  
  .paginat a:hover:not(.active) {background-color: #ddd;} 

  .card {
    margin-bottom: 5px;
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
  }

  .card-footer {
    font-size: small;
  }

  .description {
    padding: 5px;
  }
